<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="string" value="TEXT"/>
        <add key="int" value="2147483647"/>
        <add key="long" value="9223372036854775807"/>
        <add key="float" value="3.14"/>
        <add key="double" value="2.71"/>
        <add key="decimal" value="0.1"/>
        
        <add key="enum_str" value="Key2"/>
        <add key="enum_num" value="1"/>
        <add key="enum_flag" value="Key2,Key3"/>
        
        <!-- datetime は同じ日時を指す(が、TZとかとかでほぼ死んでる) -->
        <add key="datetime" value="2024-02-21T10:00:00"/>
        <add key="datetime+09:00" value="2024-02-21T10:00:00+09:00"/>
        <add key="datetime_utc" value="2024-02-21T01:00:00Z"/>

        <!-- timespan は同じ時間を指す -->
        <add key="timespan_str" value="1.2:3:4.5"/>
        <add key="timespan_iso" value="P1DT2H3M4.5S"/>

        <add key="guid_1" value="B7AA969E-F81F-4270-8789-8702FA9C5D76"/>
        <add key="guid_2" value="{B7AA969E-F81F-4270-8789-8702FA9C5D76}"/>
        <add key="guid_3" value="B7AA969EF81F427087898702FA9C5D76"/>
        
        <add key="uri" value="http://localhost"/>

        <add key="array_string_1" value="a,b,c"/>
        <add key="array_string_2" value="a , b , c"/>
        <add key="array_string_3" value="a , ,b, c"/>
        <add key="array_string_4" value="a&#009;b&#009;c"/>
        <add key="array_mixed" value="abc,123"/>
    </appSettings>
</configuration>
