root = true

root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
spelling_exclusion_path = .\exclusion.dic

[*.xaml]
indent_size = 2

[*.cs]
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event  = false:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# IDE --------------------------------------------------------------------------
# IDE0060: 未使用のパラメーターを削除します
dotnet_code_quality_unused_parameters = non_public:silent
# IDE0052: 読み取られていないプライベート メンバーを削除
dotnet_diagnostic.IDE0052.severity = silent
# IDE0042: 変数の宣言を分解
dotnet_diagnostic.IDE0042.severity = silent
# IDE0008: 明示的な型の使用
dotnet_diagnostic.IDE0008.severity = none
# IDE0058: 式の値が使用されていません
dotnet_diagnostic.IDE0058.severity = none
# IDE0063: 単純な 'using' ステートメントを使用する
dotnet_diagnostic.IDE0063.severity = none

dotnet_diagnostic.CA2016.severity = error
dotnet_diagnostic.CA2250.severity = warning

[*.yml]
indent_style = space
indent_size = 2
