@*
~*
$*
-*
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Re]elease/
packages/
TestResults/
temp/
log/
node_modules/
.vs/
.vscode/

*.suo
*.user
*.psess
*.vsp
*.cache
*.zip
*.7z
*.tmp
*.temp
*.lnk

@*
-*
_*

desktop.ini
Thumbs.db
/code-coverage

