<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="update-check-uri" value="http://localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

        <add key="install-root-directory" value="%TEMP%\dotnet\packs" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

        <add key="log-default-level" value="Trace" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

        <add key="log-debug-is-enabled" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>
