<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings file="VsLocalizedIntellisense.exe.user.config">
        <add key="update-check-uri" value="http://example.com" />

        <!-- #region log -->
        <add key="log-default-level" value="Information" />

        <add key="log-debug-is-enabled" value="False" />
        <add key="log-debug-format" value="${TIMESTAMP:LOCAL} ${LEVEL} ${MESSAGE} &lt;${CATEGORY}&gt; ${FILE}(${LINE})" />

        <add key="log-trace-is-enabled" value="False" />
        <add key="log-trace-format" value="${TIMESTAMP:LOCAL} ${LEVEL} ${MESSAGE} &lt;${CATEGORY}&gt; ${FILE}(${LINE})" />

        <add key="log-file-is-enabled" value="True" />
        <add key="log-file-format" value="${TIMESTAMP:LOCAL} ${LEVEL} ${MESSAGE} &lt;${CATEGORY}&gt; ${FILE}(${LINE})" />
        <add key="log-file-path" value="${APP-DIR}\logs\${STARTUP-TIMESTAMP:LOCAL:FILE}.log" />
        <!-- #endregion log -->
    </appSettings>
</configuration>
