<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings file="VsLocalizedIntellisense.exe.user.config">
        <add key="update-check-uri" value="http://example.com" />

        <!-- x86 で稼働するため環境変数だと怪しいので固定 -->
        <add key="install-root-directory" value="C:\Program Files\dotnet\packs" />

        <add key="repository-revision" value="master" />
        <add key="repository-repository-owner" value="sk-0520" />
        <add key="repository-repository-name" value="vs-localized-intellisense" />

        <add key="intellisense-directories" value="NETStandard.Library.Ref|Microsoft.NETCore.App.Ref|Microsoft.WindowsDesktop.App.Ref" />
        <!--<add key="intellisense-base-uri" value="https://github.com/sk-0520/vs-localized-intellisense/tree/${REVISION}/intellisense" />-->
        <add key="intellisense/.NET" value="net.+" />
        <add key="intellisense/.NET-Standard" value="netstandard.+" />

        <!-- #region log -->
        <add key="log-default-level" value="Information" />

        <add key="log-debug-is-enabled" value="False" />

        <add key="log-file-is-enabled" value="True" />
        <add key="log-file-path" value="${APP-DIR}\logs\${STARTUP-TIMESTAMP:LOCAL:FILE}.log" />
        <!-- #endregion log -->
    </appSettings>
</configuration>
