<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings file="VsLocalizedIntellisense.exe.user.config">
        <add key="http-user-agent" value="${APP:NAME}-${APP:VERSION}" />

        <add key="update-check-uri" value="http://example.com" />

        <!-- x86 で稼働するため環境変数だと怪しいので固定 -->
        <add key="install-root-directory" value="C:\Program Files\dotnet\packs" />

        <add key="repository-revision" value="master" />
        <add key="repository-owner" value="sk-0520" />
        <add key="repository-name" value="vs-localized-intellisense" />

        <add key="intellisense-directories" value="NETStandard.Library.Ref|Microsoft.NETCore.App.Ref|Microsoft.WindowsDesktop.App.Ref" />
        <add key="intellisense/.NET:Versions" value="^net(?%lt;VERSION%gt;.+)$" />
        <add key="intellisense/.NET-Standard:Versions" value="^netstandard(?%lt;VERSION%gt;.+)$" />

        <!-- #region log -->
        <add key="log-default-level" value="Information" />

        <add key="log-debug-is-enabled" value="False" />

        <add key="log-file-is-enabled" value="True" />
        <add key="log-file-path" value="${APP-DIR}\logs\${STARTUP-TIMESTAMP:LOCAL:FILE}.log" />
        <!-- #endregion log -->
    </appSettings>
</configuration>
