<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings file="VsLocalizedIntellisense.exe.user.config">
        <add key="http-user-agent" value="${APP:NAME}-${APP:VERSION}" />

        <add key="update-check-uri" value="http://example.com" />
        <add key="update-release-uri" value="https://github.com/sk-0520/vs-localized-intellisense/releases" />

        <!-- #region dir -->
        <!-- x86 で稼働するため環境変数だと怪しいので固定 -->
        <add key="install-root-directory" value="C:\Program Files\dotnet\packs" />

        <add key="temp-directory-path" value="${DIR:APP}\temp" />
        <add key="work-directory-path" value="${DIR:APP}\work" />

        <!-- #endregion dir -->

        <add key="cache-timeout-intellisense-version" value="1.00:00:00.0" />
        <add key="cache-timeout-intellisense-language" value="1.00:00:00.0" />

        <add key="repository-revision" value="master" />
        <add key="repository-owner" value="sk-0520" />
        <add key="repository-name" value="vs-localized-intellisense" />

        <add key="intellisense-directories" value="NETStandard.Library.Ref|Microsoft.NETCore.App.Ref|Microsoft.WindowsDesktop.App.Ref" />

        <add key="intellisense-dotnet-standard-mappings" value="NETStandard.Library.Ref" />
        <add key="intellisense-dotnet-standard-version" value="^(?&lt;NAME&gt;netstandard)(?&lt;VERSION&gt;\d.+)$" />
        <add key="intellisense-dotnet-runtime-mappings" value="Microsoft.NETCore.App.Ref|Microsoft.WindowsDesktop.App.Ref" />
        <add key="intellisense-dotnet-runtime-version" value="^(?&lt;NAME&gt;net)(?&lt;VERSION&gt;\d.+)$" />

        <add key="language-items" value="de,es,fr,it,ja,ko,pt-br,ru,zh-hans,zh-hant"/>

        <!-- #region log -->
        <add key="log-default-level" value="Information" />

        <add key="log-debug-is-enabled" value="False" />

        <add key="log-file-is-enabled" value="True" />
        <add key="log-file-path" value="${DIR:APP}\logs\${STARTUP-TIMESTAMP:LOCAL:FILE}.log" />
        <!-- #endregion log -->
    </appSettings>
</configuration>
