<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="string" value="TEXT"/>
        <add key="int" value="2147483647"/>
        <add key="long" value="9223372036854775807"/>
        <add key="float" value="3.14"/>
        <add key="double" value="2.71"/>
        <add key="decimal" value="0.1"/>
    </appSettings>
</configuration>
